*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#ll{
	width: 1505px;
	height: 500px;
	margin: 0px auto;
	background-color: blanchedalmond;
}
#bbq{
	width: 305px;
	margin: 0px auto;
	font-size: 30px;
}
